/* my color scheme is:
 tan: DBD0C2
 white: white
 ghost blue: #8FB4CF
 charcoal: #2F2D32
 sky blue:#88B5CA*/


#container
{
    width: 871px;
    margin: auto;
    padding-top: 20px;
}

body{background-color: #DBD0C2;}

#wrapper{
    width: 100%;
    height: 100%;
    background-color: white;
}

#header {background-image: url("/Users/Mack/Documents/GitHub/CSCI215_Assignment_1/css/images/header2.jpeg");
    height: 100%;
    width: 100%;}

#nav
{
    height: 40px;
    width: 100%;
    margin-top: 20px;
    background-color: white;
    text-align: center;
    color: #2F2D32;
    font-family: serif, Didot;
}


#nav ul
{
    list-style-type:none;
    margin:0;
    padding: 12px 0px 0px 0px;
}

#nav li
{
    display: inline;
    padding-right: 20px;
}