body {background-color: gray;
		margin: 0;}
		
html{ height: 100%;} 

#wrapper { background-color: white;
			width: 950px;
			margin-left: auto;
			margin-right: auto;
			height: 900px;}
			
#topper {
	width: 950px;
	height: 75px;
	background-color: lightgray;
	box-shadow: 3px 5px 4px black;
}	

header { width: 950px;
	margin: auto;}
	
#logo {float: right;
		width: auto;}
		
nav{float: clear;
	width: 950px;
	background-color: black;
	padding: 50px
	-webkit-border-radius: 0px 0px 15px 15px;
	-moz-border-radius: 0px 0px 15px 15px;
	border-radius: 0px 0px 15px 15px;
	text-align: center;
 	color: white;
 	font-family: thoma, arial, sans-serif;}
	
nav ul{list-style-type: none;}

nav li{display: inline;}

nav a{text-decoration: none;
	color: white;
	padding: 0 5px 0 5px;}
	
#about {	
	width: 600px;
	float: right;
	min-height: 250px;
	padding: 0 10px 0 5px;	
	border: 2px solid orange;
	margin-left: 2px;
	margin-right: 5px;
	background-color: black;
	color: white;
}


#coverpic {	
	width: 600px;
	float: right;
	min-height: 250px;
	padding: 0 5px 0 10px;	
	margin-left: 2px;
	margin-top: 5px;
	margin-bottom: 5px;
	overflow: hidden;
	display: block;
    margin-right: 13px;
	overflow: hidden;
	
}

h4 a {text-decoration: none;}

#events {	width: 300px;
	float: left;
	min-height: 250px;
	padding: 0 5px 0 10px;
	border-right: 2px solid black;}

main{ font-family: thoma, arial, sans-serif;
	color: black;
	background-color: white;
	clear: both;
	width: 944px;
	margin: 0px 3px 0px 3px;}
	
p {line-height: 150%;}

	
footer{ clear: both;
	text-align: center;
	height: 125px;
	background-color: black;
	border-top: 1px dotted white;
	background-color: black;
	margin: auto;
	color:ghostwhite;
	display: table-cell;
	vertical-align: middle;
	width: 953px;}
	